@import "~bootstrap/less/normalize";
@import "variable";
@import "icon";

input, select, button, textarea {
  outline: none;
  -webkit-app-region: no-drag;
}

.stage {
  -webkit-app-region: drag;
  display: flex;
  min-height: 100vh;

  aside.toolbar {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    order: -1;
    flex: 0 0 .4rem;
    border-radius: .05rem 0 0 .05rem;
    background-color: @color-background;

    &>button {
      display: block;
      flex: 0 0 .4rem;
      width: 100%;
      padding: 0;
      border: none;
      background-color: transparent;

      &:hover {
        background-color: @color-background__hover;
      }
      &:active {
        background-color: @color-background__active;
      }
    }

    &>.space {
      flex: 1;
    }
  }

  .main {
    flex: 1;
    border-radius: 0 .05rem .05rem 0;
    background: linear-gradient(to right, #eee, #f3f3f3 5%, #f5f5f5);
  }
}
