@import "~bootstrap/less/normalize";

html, body {
  font-size: 100px;
  -webkit-app-region: drag;
}

button {
  -webkit-app-region: no-drag;
}

.stage {
  display: flex;
  min-height: 100vh;

  aside.toolbar {
    order: -1;
    flex: 0 0 .4rem;
    background-color: #fff;
  }

  .main {
    flex: 1;
    background: linear-gradient(to right, #eee, #f3f3f3 5%, #f5f5f5);
  }
}
